<div ng-app="app">
  <div ng-controller="todoCtrl">
    <div ng-repeat="task in list track by $index" ng-click="toggleCompleted">
    <p>{{task.text}}</p>
    <input ng-model="task.text">
  </div>
  <h3>Add an item:</h3>
  <input ng-model="newItem">
  <button ng-click="addItem(newItem)"> Add it!</button>

  </div>
</div>
